Играя на нашем сервере, вы соглашаетесь с этими правилами:

(Уточнение: Предупреждения можно давать как письменно,так и киком с сервера)

(Общие правила)
1.1: Незнание правил не освобождает вас от ответственности.
1.2: Начав играть на наших серверах, Вы автоматически подтверждаете своё согласие с данным сводом правил.
1.3: Администрация вправе наказать игрока по причине, не указанной в настоящих правилах, если это так необходимо.
1.4: Администрация не несет ответственности за временную или постоянную невозможность игры на сервере конкретным лицом или группой лиц.
1.5: Игроки обязаны выполнять требования Администрации и предписания данных правил.
1.6: Администрация ведет логи всех действий игроков на сервере и всех сообщений чата.
1.7: Запрещён рассизм. | Мут на 1 час.
1.8: Запрещено обсуждение религиозных подношений. | Мут на 1 час.

(Аккаунты)
1.9: Ник не должен содержать запрещенных слов ( даже в завуалированном виде ) ( к запрещённым словам относятся: названия / IP / ссылки сторонних проектов; нецензурная лексика; оскорбления других игроков / стран / религий и пр.; ники, схожие на ники членов официальной команды проекта ) | Бан навсегда.
2.0: Запрещается предоставлять свой аккаунт 3-м лицам для игры на сервере. | Бан навсегда со снятием привилегии.
2.1: Ответственность несет владелец аккаунта, независимо от того, кто совершал действия под данным аккаунтом.
2.2: Запрещено продавать аккаунт или использовать аккаунт совместно с кем-либо | Бан навсегда.
2.3: Администрация сервера не восстанавливает привилегии взломанных / переданных аккаунтов.
2.4: Донат не переносится на другой ник в целях безопасности.
2.5: Ответственность несёт владелец аккаунта, независимо от того, кто совершал действия под данным аккаунтом.
2.6: Администрация сервера может восстановить ваш потерянный аккаунт, если у вас есть доказательства, то что он ваш.

(Чат | Данный раздел распространяется лишь на режим "Выживание"):
2.7: Запрещено оскорблять, унижать, угрожать. | Мут на 30 минут;
2.8: Запрещено попрошайничество привилегий / донатных кейсов | 3 Предупреждения, потом мут на 15 минут;
2.9: Запрещена реклама внешних ресурсов ( сайт, сервер ) | Бан на 1 день / навсегда по IP ( если ссылка или IP предоставлено на обозрение пользователя с очевидным призывом к посещению данного сайта / сервера )
3.0: Запрещено упоминание сторонних проектов ( сайт, сервер ) | Мут на 5 часов;
3.1: Запрещён флуд / спам / чрезмерный капс / текст с использованием &k ( распространяется как на глобальный чат, так и на локальный чат на спавне ) | 2 Предупреждения,потом мут на 20 минут;
3.2: Запрещена любого вида рецензия в сторону привилегий и их возможностей / отзыв от покупки того или иного товара в неблагоприятном свете | Мут на 1 час;
3.3: Запрещено оскорблять Администрацию / Модерацию | Бан на 3 дня.
3.4: Запрещено упоминание / оскорбление родных | В первом случае - бан на 10 дней, во втором бан на 1 месяц;
3.5. Запрещено провоцирование | 3 Предупреждения, потом бан на 1 день.
3.6: Запрещено оскорблять сервер | Бан на 7 дней.
3.7: Запрещено обсуждение работы Администрации / Модерации в плохую сторону. | Бан на 6 дней.

(Игровой процесс)
3.8 Запрещён намеренный обман Администрации. | Бан на 3 дня.
3.9 Запрещается распространение вредоносного контента. | Бан на 5 дней.
4.0 Администрация не обязана осуществлять Вам помощь в виде ускорения постройки здания, выдачи предметов, ресурсов и др.
4.1 Запрещено портить чужие дома. | Бан от 7 дней до 1 месяца.
4.2 Запрещена 1) порча карты, 2) приват пустых территорий, 3) приват порчи. | 1) Бан на 4 дня. 2) Приват будет удалён. 3) Бан на 7 дней с удалением привата. 
4.3 Запрещено продавать игровые предметы за реальные деньги. | Бан на 3 дня.
4.4 Вызывание неполадок в работе сервера или попытки обрушить сервер, путем специально вызванных лагов или подобного. | Бан на 2 месяца по IP.
4.5 Запрещено подстрекать третьих лиц на нарушение правил. | Бан на 1 день.
4.6 Запрещено выдавать себя за Администрацию. | Бан на 3 дня.
4.7 Запрещено использовать ПО которое внедряется в процесс Java или же модифицированный клиент под названием "Чит клиент". | 1 Предупреждение, потом бан навсегда по IP.
4.8 Запрещён обход наказания / выход из игры при наказании | Бан от 3-х дней до 1 месяца.
4.9 Запрещена помеха игровому процессу. | 3 Предупреждения, потом бан на 1 день.
5.0 Запрещён разбан нарушителей. | Бан на 2 дня.

(Правила для донатеров)
5.1 Донатер не имеет право самодобавлятся в регион, без разрешения владельца данного региона. | Бан на 10 часов.
5.2 Донатер не имеет право накладывать эффекты на игроков если они против. | 2 Предупреждения,потом бан на 5 часов.
5.3 Запрещено использовать /kick, /ban, /banip, /tempban, /warn, /mute, /f-sudo, или любое манипулирование игроком без причины / по некорректной причине / без каких-либо доказательств | Бан на 1 день.
5.4 Запрещена раздача привилегий и провождения конкурсов на сервере! | Бан на 7 дней с снятием привилегии.
5.5 Запрещено внесение изменений в регион спавна без разрешения Администрации | Бан навсегда со снятием привилегии.
5.6 Запрещено выдавать привилегию тем игрокам, у которых уже есть привилегия, выше которой вы хотите выдать. | Бан на 1 час.

(Пункт правил для Администрации / Модерации)
5.7 Администрация не имеет право снимать Модерацию, без какой-либо причины. | Предупреждение от создателя сервера TemaFlex.
5.8 Модерация должна уведомить игроков, если правила были изменены.
5.9 Администрация и Модерация должна с уважением относится к игрокам сервера.