Играя на нашем сервере, вы соглашаетесь с этими правилами:

(Общие правила)
1.1 Незнание правил не освобождает вас от ответственности.
1.2 Начав играть на наших серверах, Вы автоматически подтверждаете своё согласие с данным сводом правил.
1.3 Администратор вправе наказать игрока по причине, не указанной в настоящих правилах.
1.4 Администрация не несет ответственности за временную или постоянную невозможность игры на сервере конкретным лицом или группой лиц.
1.5 Игроки обязаны выполнять требования Администрации и предписания данных правил.
1.6 Администрация ведет логи всех действий игроков на сервере и всех сообщений чата.
1.7 Администрация имеет право корректировать данный свод правил без уведомления игрока.
1.8 Запрещено обсуждение работы администрации / модерации.
1.9 Запрещён Рассизм.
2.0 Запрещено обсуждение религиозных подношений и т.д

(Аккаунты)
2.1 Ник не должен содержать запрещенных слов ( даже в завуалированном виде ) ( к запрещённым словам относятся: названия / IP / ссылки сторонних проектов; нецензурная лексика; оскорбления других игроков / стран / религий и пр.; ники, схожие на ники членов официальной команды проекта ) | Бан навсегда.
2.2 Запрещается предоставлять свой аккаунт 3-м лицам для игры на сервере. | Бан навсегда со снятием привилегии.
2.3 Ответственность несет владелец аккаунта, независимо от того, кто совершал действия под данным аккаунтом.
2.4 Запрещено продавать аккаунт или использовать аккаунт совместно с кем-либо | Бан навсегда.
2.5 Администрация сервера не восстанавливает привилегии взломанных / переданных аккаунтов.
2.6 Донат не переносится на другой ник в целях безопасности.
2.7 Ответственность несёт владелец аккаунта, независимо от того, кто совершал действия под данным аккаунтом.
2.8 Администрация сервера может восстановить ваш потерянный аккаунт,если у вас есть доказательства,то что он ваш.

(Чат | Данный раздел распространяется лишь на режим "Выживание" ):

3.1: Запрещено оскорблять, унижать честь и достоинство других игроков | Мут на 30 минут;
3.2: Запрещено попрошайничество привилегий / донатных кейсов | Мут на 15 минут;
3.3: Запрещена реклама внешних ресурсов ( сайт, сервер ) | Бан на 1 день / навсегда по IP ( если ссылка или IP предоставлено на обозрение пользователя с очевидным призывом к посещению данного сайта / сервера );
3.4: Запрещено упоминание сторонних проектов ( сайт, сервер ) | Мут на 5 часов;
3.5: Запрещён флуд / спам / чрезмерный капс / текст с использованием &k ( распространяется как на глобальный чат, так и на локальный чат на спавне ) | Мут на 20 минут;
3.6: Запрещена любого вида рецензия в сторону привилегий и их возможностей / отзыв от покупки того или иного товара в неблагоприятном свете | Мут на 1 час;
3.7: Запрещён флуд / спам / чрезмерный капс / текст с использованием &k /оскорбление и унижение чести и достоинства человека в /bc или /shout | Бан на 1 час;
3.8: Запрещено упоминание / оскорбление родных | В первом случае - бан на 10 дней,во втором бан на 1 месяц;
3.9: Запрещено угрожать | Мут на 1 час.
4.0: Запрещено оскорблять сервер | Бан на 7 дней.

(Игровой процесс)
4.1 Запрещено мошенничество, намеренный обман администрации.
Различные баги игры, произошедшие не по вине администрации.
4.2 Запрещается распространение вредоносного контента. | Бан на 5 дней.
4.3 Администрация не обязана осуществлять Вам помощь в виде ускорения постройки здания, выдачи предметов, ресурсов и др.
4.4 Запрещено портить чужие дома. | Бан от 7 дней до 1 месяца.
4.5 Запрещено продавать игровые предметы за реальные деньги.
4.6 Вызывание неполадок в работе сервера или попытки обрушить сервер, путем специально вызванных лагов или подобного. | Бан навсегда по IP.
4.7 Запрещено подстрекать третьих лиц на нарушение правил.
4.8 Запрещено выдавать себя за администрацию. | Бан на 4 дня.
4.9 Запрещено использовать ПО которое внедряется в процесс Java или же модифицированный клиент под названием "Чит клиент". | Бан навсегда по IP.  
5.0 Запрещен обход наказания/выход из игры при наказании | Бан от 3-х дней до 1месяца.
(Правила для донатеров)

5.1 Донатер не имеет право ломать чужие дома даже если они ему не нравятся.
5.2 Донатер не имеет право самодобавлятся в регион,без разрешения владельца данного региона.
5.3 Донатер не имеет право накладывать эффекты на игроков если они против. | Бан на 1 день.
5.4 Запрещено использовать /kick,/ban, /banip, /tempban, /warn, /mute, /f-sudo, или любое манипулирование игроком без причины / по некорректной причине / без каких-либо доказательств | Бан на 1 день.
5.5 Запрещена раздача привилегий и провождения конкурсов на сервере! | Бан на 7 дней с снятием привилегии.
5.6 Запрещено внесение изменений в регион спавна без разрешения администрации | Бан навсегда со снятием действующей привилегии.
